.DS_Store
**/node_modules/

# React Router
/.react-router/
/build/
/.idea
/.firebase
/.claude
.env
.firebaserc
public/index.html
/functions/lib
functions/package-lock.json
functions/firebase-debug.log
