rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {
        // Allow public read for all our asset directories
        match /avatars/{allPaths=**} { allow read: if true; }
        match /events/{allPaths=**} { allow read: if true; }
        match /upcoming-events/{allPaths=**} { allow read: if true; }
        match /badges/{allPaths=**} { allow read: if true; }
        match /config/{allPaths=**} { allow read: if true; }
        match /team/{allPaths=**} { allow read: if true; }

        // Deny everything else
        match /{allPaths=**} {
            allow read, write: if false;
        }
    }
}
